### R Basic

---------------------------------------------------------------------------------------------------------------------------------------------

#### variable rule - vaild conditions
 1. var_name2.
 2. var.name
 3. .var_name,

#### variable rule - Invaild conditions
 1. var_name%
 2. 2var_name
 3. .2var_name
 4. _var_name

#### variable value assignment

In [1]:
a <- 12
13 -> b
c = a + b

#### display function

In [4]:
cat("a =",a,"\n")
cat("b =",b,"\n")
cat("c =",c,"\n")

a = 12
b = 13
c = 25

In [5]:
print("hello world")
print(a)
print(b)
print(c)

[1] "hello world"
[1] 12
[1] 13
[1] 25

## Finding variable

In [6]:
a = 20
b = 30
c = 40
.a = 10
.b = 20
.c =30
ab = 50
bc = 70
ac = 60
abc = 90
print(ls())
print(ls(pattern="a"))
print(ls(all.name = TRUE))

[1] "a"   "ab"  "abc" "ac"  "b"   "bc"  "c"
[1] "a"   "ab"  "abc" "ac"
 [1] ".a"       ".b"       ".c"       ".pbd_env" "a"        "ab"
 [7] "abc"      "ac"       "b"        "bc"       "c"

## Deleting Variable

#### method 1:
it is delete a single variable

In [7]:
a = 20
b = 30
c = 40
.a = 10
.b = 20
.c =30
ab = 50
bc = 70
ac = 60
abc = 90

In [8]:
print(rm(a,b,.a))
print(ls(all.name=TRUE))

NULL
[1] ".b"       ".c"       ".pbd_env" "ab"       "abc"      "ac"       "bc"
[8] "c"

In [9]:
print(a)

ERROR: Error in print(a): object 'a' not found

In [10]:
print(b)

ERROR: Error in print(b): object 'b' not found

#### method 2:
it is delete a all variable. but not delete begin with (.)dot variable

In [11]:
a = 20
b = 30
c = 40
.a = 10
.b = 20
.c =30
ab = 50
bc = 70
ac = 60
abc = 90
print(rm(list=ls()))
print(ls())
print(ls(all.name=TRUE))

NULL
character(0)
[1] ".a"       ".b"       ".c"       ".pbd_env"

#### delete with (.)dot variable

In [12]:
a = 20
b = 30
c = 40
.a = 10
.b = 20
.c =30
ab = 50
bc = 70
ac = 60
abc = 90
ls(all.name=TRUE)

 [1] ".a"       ".b"       ".c"       ".pbd_env" "a"        "ab"
 [7] "abc"      "ac"       "b"        "bc"       "c"

In [13]:
rm(.a)
ls(all.name=TRUE)

 [1] ".b"       ".c"       ".pbd_env" "a"        "ab"       "abc"
 [7] "ac"       "b"        "bc"       "c"

In [14]:
rm(list=ls(pattern="a"))
print(ls(all.name=TRUE))

[1] ".b"       ".c"       ".pbd_env" "b"        "bc"       "c"

In [ ]:
print(rm(list=ls(all.name=TRUE)))

In [1]:
print(ls())

character(0)

In [2]:
print(ls(all.name=TRUE))

[1] ".pbd_env"

---------------------------------------------------------------------------------------------------------------------------------------------

#### R-Data Type
 1. Logical
 2. Numeric
 3. Integer
 4. Complex
 5. Character
 6. Raw

#### logical - TRUE,FALSE

In [3]:
v= TRUE
print(v)
print(class(v))

[1] TRUE
[1] "logical"

#### Numeric - 12.2,4,5

In [4]:
a=45
b=9.8
print(a)
print(class(a))
print(b)
print(class(b))

[1] 45
[1] "numeric"
[1] 9.8
[1] "numeric"

#### integer

In [5]:
a=2L
b=3.5L
print(a)
print(class(a))
print(b)
print(class(b))

[1] 2
[1] "integer"
[1] 3.5
[1] "numeric"

note:
 1. all integer are numeric.
 2. all numeric are not a integer

## complex

In [6]:
a=3i+2
print(a)
b=3+2i
print(b)
c=3i+2+2i+3
print(c)
d=3i-2-2i-3
print(d)
class(d)

[1] 2+3i
[1] 3+2i
[1] 5+5i
[1] -5+1i

[1] "complex"

## Character

In [7]:
a='v'
v='venkateshwaran'
print(a)
class(a)
print(v)
class(v)

[1] "v"

[1] "character"

[1] "venkateshwaran"

[1] "character"

## raw

In [8]:
#"Hello" is stored as 68 65 6c 6c 6f
a = charToRaw("hello")
a

[1] 68 65 6c 6c 6f

---------------------------------------------------------------------------------------------------------------------------------------------

## R-operators
 1. Arithmetic Operators
 2. Relational Operators
 3. Logical Operators
 4. Assignment Operators
 5. Miscellaneous Operators

## Arithmethic Operators

In [9]:
2+3

[1] 5

In [10]:
2-3

[1] -1

In [11]:
2*4

[1] 8

In [12]:
11/2

[1] 5.5

In [13]:
11%%2

[1] 1

In [14]:
4^2

[1] 16

## relation operators

In [15]:
10 > 5

[1] TRUE

In [16]:
10 < 5

[1] FALSE

In [17]:
10 <= 10

[1] TRUE

In [18]:
20 >= 10

[1] TRUE

In [19]:
55 == 55

[1] TRUE

In [20]:
54 != 55

[1] TRUE

## logical operators

In [21]:
10 >5 & 6 <5 # & or &&

[1] FALSE

In [22]:
10 >5 | 6 <5 # | or ||

[1] TRUE

In [23]:
a=11
!a == 11

[1] FALSE

## assignment operators

In [24]:
# Left Assignment
a <<- 15
b <- 20
cat("a=",a,"\nb=",b)

a= 15
b= 20

In [25]:
# Right Assignment
15 ->> a
20 -> b
cat("a=",a,"\nb=",b)

a= 15
b= 20

In [26]:
# equal operator assignment
a = 45
print(a)

[1] 45

## Miscellaneous Operators

In [27]:
# : -colon operator
a= 2:5
print(a)
print(class(a))

[1] 2 3 4 5
[1] "integer"

In [28]:
# identify element
a= 2:5 # 2=3,3=3,4=3,5=3
b=3
print(a %in% b)

[1] FALSE  TRUE FALSE FALSE

## seq()

In [29]:
a = seq(0,21,by=2)
print(a)

 [1]  0  2  4  6  8 10 12 14 16 18 20

%+%, %-% ,%*%, %/% it is used for vectors

---------------------------------------------------------------------------------------------------------------------------------------------

## desinion Making
 1. if statement
 2. if-else statement
 3. switch statement

## if-statement

In [30]:
x <- c("what","is","truth")
if("truth" %in% x) {
   print("Truth is found")
}

[1] "Truth is found"

## if-else statement

In [31]:
x <- c("what","is","truth")
if("Truth" %in% x) {
   print("Truth is found")
} else {
   print("Truth is not found")
}

[1] "Truth is not found"

## switch Statement

In [32]:
a = 3
b = 7
c = 1
x <- switch(
   c,
   a+b,
   a-b,
   a*b,
   a/b
)
print(x)

[1] 10

---------------------------------------------------------------------------------------------------------------------------------------------

## R- Loops
 1. forloop
 2. while loop
 3. repeat loop

## for Loop

In [33]:
v <- 1:4
for ( i in v) {
   print(i)
}

[1] 1
[1] 2
[1] 3
[1] 4

## while loop

In [34]:
v =0
while (v < 7) {
   print(v)
   v = v + 1
}

[1] 0
[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6

## Repeat Loop

In [35]:
v=0
repeat {
   print(v)
   v <- v+1
   
   if(v > 5) {
      break
   }
}

[1] 0
[1] 1
[1] 2
[1] 3
[1] 4
[1] 5

---------------------------------------------------------------------------------------------------------------------------------------------

## control statement
 1. break
 2. next

## break

In [36]:
v <- 1:6
for ( i in v) {
   
   if (i == 4) {
      break
   }
   print(i)
}

[1] 1
[1] 2
[1] 3

In [37]:
v <- 1:6
for ( i in v) {
   
   if (i == 4) {
      next
   }
   print(i)
}

[1] 1
[1] 2
[1] 3
[1] 5
[1] 6

----------------------------------------------------------------------------------------------------------------------------

## string

In [38]:
# valid string
a <- 'Start and end with single quote'
print(a)

b <- "Start and end with double quotes"
print(b)

c <- "single quote ' in between double quotes"
print(c)

d <- 'Double quotes " in between single quote'
print(d)

[1] "Start and end with single quote"
[1] "Start and end with double quotes"
[1] "single quote ' in between double quotes"
[1] "Double quotes \" in between single quote"

## Concatenating Strings - paste() function
 Syntax:
 
 paste(..., sep = " ", collapse = NULL)

##### Following is the description of the parameters used
... represents any number of arguments to be combined.
 
 sep represents any separator between the arguments. It is optional.
 
 collapse is used to eliminate the space in between two strings. But not the space within two words of one string.

In [39]:
a <- "Hello"
b <- 'How'
c <- "are you? "

print(paste(a,b,c))

print(paste(a,b,c, sep = "-"))

print(paste(a,b,c,"hello",sep = "", collapse = ""))

[1] "Hello How are you? "
[1] "Hello-How-are you? "
[1] "HelloHoware you? hello"

## Formatting numbers & strings - format() function
 syntax:
 
 format(x, digits, nsmall, scientific, width, justify = c("left", "right", "centre", "none"))

##### Following is the description of the parameters used 
 
 x is the vector input.
 
 digits is the total number of digits displayed.
 
 nsmall is the minimum number of digits to the right of the decimal point.
 
 scientific is set to TRUE to display scientific notation.
 
 width indicates the minimum width to be displayed by padding blanks in the beginning.
 
 justify is the display of the string to left, right or center.

In [40]:
# Total number of digits displayed. Last digit rounded off.
result <- format(23.123456789, digits = 9)
print(result)

[1] "23.1234568"

In [41]:
# Display numbers in scientific notation.
result <- format(c(6, 13.14521), scientific = TRUE)
print(result)

[1] "6.000000e+00" "1.314521e+01"

In [42]:
# The minimum number of digits to the right of the decimal point.
result <- format(23.47, nsmall = 5)
print(result)

[1] "23.47000"

In [43]:
# Format treats everything as a string.
result <- format(6)
print(result)

[1] "6"

In [44]:
# Numbers are padded with blank in the beginning for width.
result <- format(13.7, width = 9)
print(result)

[1] "     13.7"

In [45]:
# Left justify strings.
result <- format("Hello", width = 10, justify = "c")
print(result)

[1] "  Hello   "

In [46]:
# Justfy string with center.
result <- format("Hello", width = 8, justify = "l")
print(result)

[1] "Hello   "

In [47]:
result <- format("Hello", width = 8, justify = "r")
print(result)

[1] "   Hello"

## Counting number of characters in a string - nchar() function
#### Syntax
 nchar(x)
##### Following is the description of the parameters used 
 x is the vector input.

In [48]:
result <- nchar("Count the number of characters")
print(result)

[1] 30

## upper and lower case

#### syntax
 toupper(x)
 
 tolower(x)

In [49]:
# Changing to Upper case.
result <- toupper("Changing To Upper")
print(result)

# Changing to lower case.
result <- tolower("Changing To Lower")
print(result)

[1] "CHANGING TO UPPER"
[1] "changing to lower"

## Extracting parts of a string - substring() function
#### Syntax
substring(x,first,last)
##### Following is the description of the parameters used
 x is the character vector input.
 
 first is the position of the first character to be extracted.
 
 last is the position of the last character to be extracted.

In [50]:
# Extract characters from 5th to 7th position.
result <- substring("Extract", 5, 7)
print(result)

[1] "act"

----------------------------------------------------------------------------------------------------------------------------

#### R-objects
 1. Vectors
 2. Lists
 3. Matrices
 4. Array
 5. Factors
 6. Data Frames

---------------------------------------------------------------------------------------------------------------------------------------------

## Vectors

vectors is one dimensional of array. it is store data in different type

In [51]:
# creatng vectors
a = c(1,3.4,"hello",TRUE)
print(a)

[1] "1"     "3.4"   "hello" "TRUE"

In [52]:
# accessing vectors using position
print(a[1])
print(a[c(1,3)])

# Accessing vector elements using logical indexing.
cat("\n")
b=a[c(TRUE,FALSE,FALSE,TRUE)]
print(b)

# Accessing vector elements using negative indexing
cat("\n")
print(a[-2])
print(a[c(-2,-3)])

[1] "1"
[1] "1"     "hello"

[1] "1"    "TRUE"

[1] "1"     "hello" "TRUE"
[1] "1"    "TRUE"

## Vector Manipulation
 1. vector arithmethic
 2. vector element recycle 
 3. vector sorting

In [53]:
# vector arithmethic
a = c(2,5,9)
b = c(2,7,6)
cat("\n",a+b,"\n",a-b,"\n",a*b,"\n",a/b)

 4 12 15
 0 -2 3
 4 35 54
 1 0.7142857 1.5

In [54]:
# vector element recyle
a = c(2,5.9,10,11,12,13)
b = c(2,7,6)
print(a+b)

[1]  4.0 12.9 16.0 13.0 19.0 19.0

In [55]:
# vecctor sorting
a = c(2,5.9,11,10,13,12,"a","z")
sort(a)

[1] "10"  "11"  "12"  "13"  "2"   "5.9" "a"   "z"

In [56]:
sort(a,decreasing = TRUE)

[1] "z"   "a"   "5.9" "2"   "13"  "12"  "11"  "10"

In [57]:
a = c(2,5,10,11,12,13)
print(a)
#adding new value
a[7]=100
print(a)
#update value
a[1]=4
print(a)
a[c(2,3)]=c(100,300)
print(a)
#delete value is not possible to change a null value
a[7]= NA
a[c(5,6)]=c(NA)
print(a)

[1]  2  5 10 11 12 13
[1]   2   5  10  11  12  13 100
[1]   4   5  10  11  12  13 100
[1]   4 100 300  11  12  13 100
[1]   4 100 300  11  NA  NA  NA

---------------------------------------------------------------------------------------------------------------------------------------------

## List

it is similar to list. it is multi dimensional arrary. it is stored in different type of data

In [58]:
# creating list
a=list(c("red","green"),1,4L)
a

[[1]]
[1] "red"   "green"

[[2]]
[1] 1

[[3]]
[1] 4

In [59]:
#accessing
a[1]
a[3]

[[1]]
[1] "red"   "green"

[[1]]
[1] 4

In [60]:
# accessing with NAming list element
names(a)=c("vectors","numeric","integer")
names(a)
names(a[2])
cat("\n")
print(a)
print(a$integer)

[1] "vectors" "numeric" "integer"

[1] "numeric"

$vectors
[1] "red"   "green"

$numeric
[1] 1

$integer
[1] 4

[1] 4

## Manipulating List Elements

In [61]:
# adding value
a=list(c("red","green"),1,4L)
a[4]
a[4]="hello"
a
a[4]
a[1]

[[1]]
NULL

[[1]]
[1] "red"   "green"

[[2]]
[1] 1

[[3]]
[1] 4

[[4]]
[1] "hello"

[[1]]
[1] "hello"

[[1]]
[1] "red"   "green"

In [62]:
# update value
a[4]="world"
a
a[4]=NA
a
a[4]=NULL
a

[[1]]
[1] "red"   "green"

[[2]]
[1] 1

[[3]]
[1] 4

[[4]]
[1] "world"

[[1]]
[1] "red"   "green"

[[2]]
[1] 1

[[3]]
[1] 4

[[4]]
[1] NA

[[1]]
[1] "red"   "green"

[[2]]
[1] 1

[[3]]
[1] 4

In [63]:
# merge list
a = list(c(2,5,10,11,12,13))
b = list(c("red","green",78),1,4L)
c = c(a,b)
class(c)
print(c)

[1] "list"

[[1]]
[1]  2  5 10 11 12 13

[[2]]
[1] "red"   "green" "78"

[[3]]
[1] 1

[[4]]
[1] 4

In [64]:
#unlist is convert any type
c= unlist(c)
c

 [1] "2"     "5"     "10"    "11"    "12"    "13"    "red"   "green" "78"
[10] "1"     "4"

In [65]:
d = unlist(a)
class(d)
d

[1] "numeric"

[1]  2  5 10 11 12 13

---------------------------------------------------------------------------------------------------------------------------------------------

## matrix

#### syntax:
 matrix(data, nrow, ncol, byrow, dimnames)

In [66]:
# create a matrix
a = matrix(c(3:14), nrow = 4 ,ncol = 3 ,byrow = TRUE)
print(a)

     [,1] [,2] [,3]
[1,]    3    4    5
[2,]    6    7    8
[3,]    9   10   11
[4,]   12   13   14

In [67]:
b <- matrix(c(3:14), ncol = 4,nrow=6 , byrow = FALSE)
print(b)

     [,1] [,2] [,3] [,4]
[1,]    3    9    3    9
[2,]    4   10    4   10
[3,]    5   11    5   11
[4,]    6   12    6   12
[5,]    7   13    7   13
[6,]    8   14    8   14

In [68]:
rownames = c("row1", "row2", "row3", "row4","row5","row6")
colnames = c("col1", "col2", "col3","col4")

b <- matrix(c(3:14), ncol = 4,nrow=6 , byrow = FALSE,dimnames=list(rownames,colnames))
print(b)

     col1 col2 col3 col4
row1    3    9    3    9
row2    4   10    4   10
row3    5   11    5   11
row4    6   12    6   12
row5    7   13    7   13
row6    8   14    8   14

In [69]:
# accessing matrix
print(b[1,])
print(b[,1])
print(b[1,4])

col1 col2 col3 col4
   3    9    3    9
row1 row2 row3 row4 row5 row6
   3    4    5    6    7    8
[1] 9

In [70]:
# matrix computations
matrix1 <- matrix(c(3, 9, -1, 4, 2,6), nrow = 2,dimnames=list(list("row1","row2"),list("col1","col2","col3")))
matrix2 <- matrix(c(5, 2, 0, 9, 3, 4), nrow = 2,dimnames=list(list("row1","row2"),list("col1","col2","col3")))
c = matrix1+matrix2
print(c)
cat("\n")
c = matrix1-matrix2
print(c)
cat("\n")
c = matrix1*matrix2
print(c)
cat("\n")
c = matrix1/matrix2
print(c)

     col1 col2 col3
row1    8   -1    5
row2   11   13   10

     col1 col2 col3
row1   -2   -1   -1
row2    7   -5    2

     col1 col2 col3
row1   15    0    6
row2   18   36   24

     col1      col2      col3
row1  0.6      -Inf 0.6666667
row2  4.5 0.4444444 1.5000000

---------------------------------------------------------------------------------------------------------------------------------------------

## Array

Array is store more than 2 dimensional of data

In [71]:
a = array(c(5,6,7,5,6,7),dim=c(3,3,2),dimnames=list(list("row1","row2","row3"),list("col1","col2","col3"),list("Matrix1","Matrix2")))
print(a)

, , Matrix1

     col1 col2 col3
row1    5    5    5
row2    6    6    6
row3    7    7    7

, , Matrix2

     col1 col2 col3
row1    5    5    5
row2    6    6    6
row3    7    7    7

In [72]:
#accessing
a[1,2,1]
a[1,,2]
a[,2,1]
a[,,2]

[1] 5

col1 col2 col3
   5    5    5

row1 row2 row3
   5    6    7

     col1 col2 col3
row1 5    5    5
row2 6    6    6
row3 7    7    7

In [73]:
vector1 <- c(5,9,3)
vector2 <- c(10,11,12,13,14,15)
a <- array(vector1,dim = c(3,2,1))
b <- array(vector2,dim = c(3,2,1))

In [74]:
c=a*b
print(c)

, , 1

     [,1] [,2]
[1,]   50   65
[2,]   99  126
[3,]   36   45

----------------------------------------------------------------------------------------------------------------------------

## Factors

Factors is take input from vector type. it is store in different type of data

In [75]:
# create vectors
data = c(100,200,"venky",100,200)
f=factor(data)
f

[1] 100   200   venky 100   200
Levels: 100 200 venky

In [76]:
#Generating Factor Levels
v <- gl(3, 3, labels = c(100,200,"venky"))
print(v)
class(v)

[1] 100   100   100   200   200   200   venky venky venky
Levels: 100 200 venky

[1] "factor"

In [77]:
new_order_data <- factor(v,levels = c(100,"venky"))
print(new_order_data)

[1] 100   100   100   <NA>  <NA>  <NA>  venky venky venky
Levels: 100 venky

In [78]:
#type check
is.factor(data)
is.vector(data)
is.factor(f)

[1] FALSE

[1] TRUE

[1] TRUE

----------------------------------------------------------------------------------------------------------------------------

## data frame

In [79]:
height <- c(132,151,162,139,166,147,122)
weight <- c(48,49,66,53,67,52,40)
gender <- c("male","male","female","female","male","female","male")
df = data.frame(height,weight,gender)
df

  height weight gender
1 132    48     male
2 151    49     male
3 162    66     female
4 139    53     female
5 166    67     male
6 147    52     female
7 122    40     male

In [80]:
factor(df$gender)

[1] male   male   female female male   female male
Levels: female male

In [81]:
# add Row
# dataframe1
height <- c(132,151,162,139,166,147,122)
weight <- c(48,49,66,53,67,52,40)
gender <- c("male","male","female","female","male","female","male")
df1 = data.frame(height,weight,gender)
print(df1)

cat("\n")
#datafrme 2
height <- c(132,151,162,139,166,147,122)
weight <- c(48,49,66,53,67,52,40)
gender <- c("male","male","female","female","male","female","male")
df2 = data.frame(height,weight,gender)
print(df2)

  height weight gender
1    132     48   male
2    151     49   male
3    162     66 female
4    139     53 female
5    166     67   male
6    147     52 female
7    122     40   male

  height weight gender
1    132     48   male
2    151     49   male
3    162     66 female
4    139     53 female
5    166     67   male
6    147     52 female
7    122     40   male

In [82]:
#combine df,df2
df=rbind(df1,df2)
print(df)

   height weight gender
1     132     48   male
2     151     49   male
3     162     66 female
4     139     53 female
5     166     67   male
6     147     52 female
7     122     40   male
8     132     48   male
9     151     49   male
10    162     66 female
11    139     53 female
12    166     67   male
13    147     52 female
14    122     40   male

In [83]:
#add column

In [84]:
df$dept <- c(10,20,30,40,50,60,70,10,20,30,40,50,60,70)

In [85]:
df

   height weight gender dept
1  132    48     male   10
2  151    49     male   20
3  162    66     female 30
4  139    53     female 40
5  166    67     male   50
6  147    52     female 60
7  122    40     male   70
8  132    48     male   10
9  151    49     male   20
10 162    66     female 30
11 139    53     female 40
12 166    67     male   50
13 147    52     female 60
14 122    40     male   70

----------------------------------------------------------------------------------------------------------------------------

## Get input from User

you get input value from user in character type format

In [86]:
a=readline(prompt="enter a A values:") # get input from user
class(a)
a=as.numeric(a) #convert a numeric format
class(a)

enter a A values:

[1] "character"

[1] "numeric"

----------------------------------------------------------------------------------------------------------------------------

## function

In [87]:
#calling function
functionname = function(a){
    cat("a =",a)
}

z=readline(prompt="enter a value:")
functionname(z)

enter a value:
a =

In [88]:
# Calling a Function with Default Argument
functionname = function(a=3){
    cat("a =",a)
}

functionname()
z=readline(prompt="enter a value:")
functionname(z)

a = 3enter a value:
a =

In [89]:
#Calling a Function with Argument Values (by position and by name)
functionname = function(a,b,c){
    cat("a=",a,"\n")
    cat("b=",b,"\n")
    cat("c=",c)
}


functionname(c=7,b=6,a=5)

a= 5
b= 6
c= 7

In [90]:
# return
functionname = function(a){
    return(a)
}

z=readline(prompt="enter a value:")
a = functionname(z)
cat("a =",a)

enter a value:
a =

----------------------------------------------------------------------------------------------------------------------------

## package

In [91]:
.libPaths()

[1] "C:/0/R-4.0.0/library"

In [98]:
print(library())

In [93]:
!install.packages("XML")

package 'XML' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\VENKATESHWARAN\AppData\Local\Temp\RtmpctO6n1\downloaded_packages

ERROR: Error in !install.packages("XML"): invalid argument type

----------------------------------------------------------------------------------------------------------------------------

#### How To Run R Proograms In Jupyter

In [95]:
!install.packages("IRkernel")

package 'IRkernel' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\VENKATESHWARAN\AppData\Local\Temp\RtmpctO6n1\downloaded_packages

ERROR: Error in !install.packages("IRkernel"): invalid argument type

In [96]:
IRkernel::installspec()

In [97]:
IRkernel::installspec(user = FALSE)

---------------------------------------------------------------------------------------------------------------------------------------------